/* stylesheet for wwr */
/* import fonts  */
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

/* general */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    background-color: #023047;
    font-family: "Matemasie", "serif", "sans-serif";
    font-weight: 400;
    font-style: normal;
}
/* header  */
header {
    background-color: #023047;
    text-align: center;
   
}
.logo {
    width:80px;
    margin:20px 20px;

}
/* navigation */
header nav {
    text-align: center;
    font-size: 2em;
    padding:20px 32px;
    
    
}
/* nav links  */
nav a {
    color: #219EBC;
    text-decoration: none;
    padding:16px 32px;

}
nav a:hover{
    background-color: rgb(21, 21, 21);
    border-bottom: 4px solid #FB8500;
    border-top-right-radius: 12%;
    border-top-left-radius: 12%;
    color: #ffffff;
    
}

/* hero */
#hero-img {
    width:100%;
    text-align: center;
    
}

#hero-msg h1{
    font-size:2em;  
    text-align: center;
    
}
#hero-msg h4 {
    font-size: 1em;
    text-align: center;

}

#content {
    max-width: 1600px;
    margin:0 auto;
    color: #219EBC;

}
.icon {
    width: 80px;
    margin: 12px 12px 0 12px;
}

/* main */
.button-box {
    text-align: center;
    padding: 16px 32px;
    margin: 28px 0 14px 0;
}
/* book button  */
.book {
    background-color:#FB8500;
    color: rgb(21, 21, 21);
    text-decoration: none;
    padding: 16px 32px;
    font-size: 48px;
    border-radius: 4%;

}
.book:hover {
    background-color: rgb(21, 21, 21);
    color: #ffffff;

}
/* cards */
.rivers-card,
.camping-card,
.rapids-card {
    font-size: 1em;
    padding: 12px 12px;
    text-align: center;
    
}
.card-img {
    border-radius: 4%;
    border: 12px solid #001e2d;
    display: block;
    margin: 0 auto;
}


/* background break */
#background {
    background-color: rgb(21, 21, 21);
    height: 725px;

}
/* final image  */
.mountains {
    max-width:800px;
    display: block;
    margin: 0 auto;
}

/* final message before footer */
.msg {
    font-size: 2em;
    text-align: center;
    background-color: #001e2d;
    padding: 12px 12px;
    margin:12px 0;
    
}
.msg h2 {
    padding:12px 12px 0 12px;
    font-size:1em;
    
}
.msg p {
    padding:12px 12px 0px 12px;
    font-size:1em;
    
}
/* join button  */
.join {
    color: rgb(21, 21, 21);
    background-color: #FB8500;
    text-decoration: none;
    padding:16px 32px;
    border-radius: 4%;
    font-size:48px;
    
}
.join:hover {   
    background-color: rgb(21, 21, 21);
    color: #ffffff;

}


/* footer */
footer {
    background-color: rgb(21, 21, 21);
    line-height: 2.5;
    
}
footer p {
    font-size: .8em;
    color: white;
    padding: 12px 12px 0 12px;

}  
footer p a {
    color:#FFB703;
    /* text-align: center; */
    text-decoration: none;

}
footer p a:hover{
    color:#FB8500;
    text-decoration:underline;

}

/* socials, facebook instagram, twitter etc */
footer .social {
    margin: 0 12px;
    
}
footer .social a {
    text-decoration: none;
}
