* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;  
    top: 0;           
    left: 0;          
    width: 100%;      
    z-index: 1000;    
    background-color: #111;
}
body {
    max-width: 1400px; 
    margin: 0 auto; 
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-color: #111;
    justify-content: center;
    margin: 4px;
    /* padding: 4px 4px; */
    
}
nav a {
    color: #36d017;
   
}

.create-button {
    display: flex;
    align-items: center;
    background-color: #222;
    height: 40px;
    border-top-right-radius:10%;
    border-bottom-right-radius:10%;
    padding: 0 8px;
}
.create-button:hover {
    background-color: #333;
}
.create-button:active {
    background-color: #555;
}
.logo {
    position: fixed;
    left: 0;
    height: 40px;
    border-radius: 10%;
    /* padding: 4px 4px; */
    margin: 4px 4px;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
    background-color: #111;
    width: 20%;
    height: 40px;
    border: 2px solid #222;

    
}
.search-box:hover{
    width:40%;
    transition: width 0.4s ease; 
    border: 2px solid #36d017;
    background-color: #111;
}

.avatar {
    position: fixed;
    bottom: 16px;
    height: 60px;
    width: 60px;
    display: flex;
    align-self: center;
    border-radius: 50%;
    
}

.home-grid {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4px;
    margin-left: 128px;
    
}

.sidebar {
    position: fixed;  
    top: 48px;
    left: 0;          
    background: #111;
    color: white;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 2px solid #333;
    
}
.sidebar a {
    padding: 16px 16px;
    color: #36d017;
}
.sidebar a:hover {
    background-color: #333;
}
.sidebar a:active {
    background-color: #555;

}
.highlight {
    background-color: #333;
}

.post {
    display: flex;
    flex-direction: column;
    background: #111;
    padding: 8px;
    border-radius: 10px;
    gap: 10px;
    
}

.thumbnail {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit:cover;
}

.post-info {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray; /* Placeholder for missing images */
    object-fit: cover; /* Maintain image aspect ratio */
    flex-shrink: 0; /* Prevent shrinking */
}

.post-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1, h2 {
    font-size: 1em; /* Make text consistent */
}

h1 {
    font-weight: bold;
}

h2 {
    color: #777;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 100px;

}
footer p {
    margin-bottom: 12px;
    grid-column: 1/6;
}
.top {
    align-self: center; 
    justify-self: center; 
    width: 100px;
    padding: 12px;
    font-size: 2em;
    grid-column: 3/4;
    background-color: white;
    color: black;
}
.social {
    grid-column:5/6;
}


/* subscriptions page */
.current-subscriptions {
    display: flex;
    grid-column: 1/4;

}
.current-subscriptions img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin: 12px 0 12px 12px; 
}

.sub-arrow {
    background-color: #333;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 12px 0 12px 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 3em;
}
.sub-arrow:hover {
    background-color: #555;
}
.sub-arrow:active {
    background-color: #777;
}


/* you page */
.you-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 128px;
    padding: 0 4px;
}
.user-information {
    grid-column: 1/5;
    margin-left: 8px;
    height: 360px;
}
.you-post {
    display: flex;
    flex-direction: column;
    background: #111;
    padding: 8px;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
}
.you-thumbnail {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit:cover;
}
.user-banner {
    width: 100%;
    height: 240px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.profile-picture {
    border-radius: 50%;
    float: left;
    height: 120px;
    width: 120px;
    margin-top: -52px;
    margin-left:12px;
    margin-right: 12px;
    z-index: 1;

}
.username {
    font-size: 1.8em;
}
.section-name {
    grid-column: 1/5;
    font-size: 1.8em;
    margin-left: 8px;
    margin-top: 32px;
}

.small-sidebar {
    display: none;
}


@media screen and (max-width: 1000px) {
    .small-sidebar {
        position: fixed;  
        top: 48px;
        left: 0;          
        background: #111;
        color: white;
        overflow-y: auto; 
        display: flex;
        flex-direction: column;
        border-right: 2px solid #333;
        height: 100vh;
    }
    .small-sidebar a {
        text-align: center;
        padding: 16px 9px;
        color: #36d017;
    }
    .small-sidebar a:hover {
        background-color: #333;
    }
    .small-sidebar a:active {
        background-color: #555;
    
    }
    .small-avatar {
        width: 32px;
        height: 32px;
        align-self: center;
        position: fixed;
        bottom: 12px;
        border-radius: 50%;
    }
    .sidebar {
        display: none;
    }
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4px;
        margin-left: 60px;
    }
    .you-grid {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 60px;
    }
    .you-thumbnail {
        height: 120px;
    }
    .current-subscriptions {
        display: flex;
        grid-column: 1/3;
    
    }
    
}

@media screen and (max-width: 800px) {
    .home-grid {
        grid-template-columns: 1fr;
    }
    .thumbnail {
        height: 360px;
    }
    .current-subscriptions {
        display: flex;
        grid-column: 1/2;
    }

}