* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;  
    top: 0;           
    left: 0;          
    width: 100%;      
    z-index: 1000;    
    background-color: #111;
}
body {
    max-width: 1400px; 
    margin: 0 auto; 
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-color: #111;
    justify-content: space-between;
}
nav a {
    color: #36d017;
}

.create-button {
    background-color: #222;
    padding: 8px 12px;
    border-radius: 10%;
}
.create-button:hover {
    background-color: #333;
}
.create-button:active {
    background-color: #555;
}
.logo {
    height: 60px;
    border-radius: 10%;
    padding: 4px 4px;
}
.search-box {
    background-color: #111;
    width: 600px;
    padding: 8px 12px;
    border: 2px solid #222;
}
.search-box:hover{
    border: 2px solid #36d017;
    background-color: #111;
}

.avatar {
    height: 60px;
    border-radius: 10%;
    padding: 4px 4px;
    
}

.home-grid {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4px;
    margin-left: 120px;
}

.sidebar {
    position: fixed;  
    top: 60px;
    left: 0;          
    background: #111;
    color: white;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
}
.sidebar a {
    /* background-color: green; */
    padding: 16px 16px;
    color: #36d017;
}
.sidebar a:hover {
    background-color: #333;
}
.sidebar a:active {
    background-color: #555;

}
.highlight {
    background-color: #333;
}

.post {
    display: flex;
    flex-direction: column;
    background: #111;
    /* padding: 15px; */
    padding: 8px;
    border-radius: 10px;
    gap: 10px;
    
}

.thumbnail {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit:cover;
}

.post-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between avatar and text */
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: gray; /* Placeholder for missing images */
    object-fit: cover; /* Maintain image aspect ratio */
    flex-shrink: 0; /* Prevent shrinking */
}

.post-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1, h2 {
    font-size: 1em; /* Make text consistent */
}

h1 {
    font-weight: bold;
}

h2 {
    color: #777;
}

/* subscriptions page */
.current-subscriptions {
    display: flex;
    grid-column: 1/4;

}
.current-subscriptions img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin: 12px 0 12px 12px; 
}

.sub-arrow {
    background-color: #333;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 12px 0 12px 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 3em;
}
.sub-arrow:hover {
    background-color: #555;
}
.sub-arrow:active {
    background-color: #777;
}


/* you page */
.you-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 124px;
    
}

.user-information {
    grid-column: 1/5;
    margin-left: 8px;
    height: 360px;
}
.you-post {
    display: flex;
    flex-direction: column;
    background: #111;
    padding: 8px;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
}
.you-thumbnail {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    object-fit:cover;
}
.user-banner {
    width: 100%;
    height: 240px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}
.profile-picture {
    border-radius: 50%;
    float: left;
    height: 120px;
    width: 120px;
    margin-top: -52px;
    margin-left:12px;
    margin-right: 12px;
    z-index: 1;

}
.username {
    font-size: 1.8em;
}
.section-name {
    grid-column: 1/5;
    font-size: 1.8em;
    margin-left: 8px;
    margin-top: 32px;
}
